@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");

:root {
  --background-color: #fefefe;
  --text-color: #0f0f0f;
}

html {
  min-height: 100vh;
}

html,
body {
  width: auto;
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Neuton";
}

body {
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

a {
  color: var(--text-color);
}

input {
  text-align: left;
}

#intro,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ========== INTRO =========== */

#intro h1 {
  font-size: 2em;
  margin: 0;
}

#intro p {
  font-size: 1.2em;
  max-width: 70vw;
}

#sheetUpload {
  opacity: 0;
}

#sheetUploadLabel {
  width: 10em;
  height: 2em;

  background-color: var(--background-color);
  border-radius: 0.8em;
  border: var(--text-color) 0.25em solid;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Neuton";
  font-size: 1.3em;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;

  cursor: pointer;

  transition: 150ms;
}

#sheetUploadLabel:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

#baseFile {
  width: auto;
  height: 1em;

  background-color: var(--background-color);
  border: none;
  border-bottom: var(--text-color) 0.15em solid;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Neuton";
  font-size: 1.1em;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;

  cursor: pointer;
}

/* ============================================================================ */

/* =========== MAIN =========== */

main {
  width: 100%;
  justify-content: flex-start;
}

input {
  font-family: "Neuton";
  font-size: 1.1em;
  font-weight: normal;

  border: none;
  height: 100%;
}

input[type="text"]:focus {
  border: none;
  box-shadow: none;
  outline: none;
  width: auto;
  max-width: none;
  overflow: visible;
  text-align: left;
}

nav {
  display: flex;
  min-width: 60vw;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
}

nav a {
  text-decoration: underline;
  font-size: 1.4em;
  font-weight: normal;
  cursor: pointer;
}

#charInfo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#charName {
  font-weight: bold;
  font-size: 1.3em;
}

#charInfo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#charInfo div span {
  display: flex;
}

#charInfo div span p {
    margin: 0;
}

#charPicture {
  height: 5em;
  width: 5em;
  border-radius: 100%;
  border: var(--text-color) 0.25em solid;
}

main span {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#skills {
  flex-direction: row;
  width: 90%;
}

#skills h3 {
  font-size: 1.6em;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}

#abilities {
  flex-direction: column;
  width: 20%;
}

#abilities input {
  height: auto;
}

#talents {
  margin-left: 2em;
  width: 100%;
}

#talents div {
  display: flex;
  flex-direction: column;
}

#talents textarea {
  border: none;
  outline: none;
  resize: none;
  field-sizing: content;
}

#saveSheet {
  width: 10em;
  height: 2em;

  background-color: var(--background-color);
  border-radius: 0.8em;
  border: var(--text-color) 0.25em solid;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Neuton";
  font-size: 1.3em;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;

  cursor: pointer;

  transition: 150ms;
}

#saveSheet:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

#sendToGM {
  width: 10em;
  height: 2em;

  background-color: var(--background-color);
  border-radius: 0.8em;
  border: var(--text-color) 0.25em solid;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Neuton";
  font-size: 1.3em;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;

  cursor: pointer;

  transition: 150ms;
}

#sendToGM:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

/* ============================================================================ */

footer {
  position: sticky;
  background-color: var(--background-color);
  width: 100%;
  bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}

