@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");

:root {
  --background-color: #fefefe;
  --text-color: #0f0f0f;
}

html {
  min-height: 100vh;
}

html,
body {
  width: auto;
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Neuton";
}

body {
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

a {
  color: var(--text-color);
}

input {
  text-align: left;
}

textarea {
  font-family: "Neuton";
  font-size: 1em;
}

#intro,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ========== INTRO =========== */

#intro h1 {
  font-size: 2em;
  margin: 0;
}

#intro p {
  font-size: 1.2em;
  max-width: 70vw;
}

#sheetUpload {
  opacity: 0;
}

#sheetUploadLabel {
  width: 10em;
  height: 2em;

  background-color: var(--background-color);
  border-radius: 0.8em;
  border: var(--text-color) 0.25em solid;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Neuton";
  font-size: 1.3em;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;

  cursor: pointer;

  transition: 150ms;
}

#sheetUploadLabel:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

#baseFile {
  width: auto;
  height: 1em;

  background-color: var(--background-color);
  border: none;
  border-bottom: var(--text-color) 0.15em solid;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Neuton";
  font-size: 1.1em;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;

  cursor: pointer;
}

/* ============================================================================ */

/* =========== MAIN =========== */

main {
  width: 100%;
  justify-content: flex-start;
}

input {
  font-family: "Neuton";
  font-size: 1.1em;
  font-weight: normal;

  border: none;
  height: 100%;
}

input[type="text"]:focus {
  border: none;
  box-shadow: none;
  outline: none;
  width: auto;
  max-width: none;
  overflow: visible;
  text-align: left;
}

nav {
  display: flex;
  min-width: 60vw;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
}

nav a {
  text-decoration: underline;
  font-size: 1.4em;
  font-weight: normal;
  cursor: pointer;
}

#charInfo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#charName {
  font-weight: bold;
  font-size: 1.3em;
}

#charInfo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#charInfo div span {
  display: flex;
}

#charInfo div span p {
  margin: 0;
}

#charPicture {
  height: 5em;
  width: 5em;
  border-radius: 100%;
  border: var(--text-color) 0.25em solid;
  cursor: pointer;
}

main span {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#stats {
  display: flex;
  flex-direction: column;
}

#stats #circle {
  display: flex;
  flex-direction: column;
}

#stats #circle #mainTraits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

#stats #circle #mainTraits li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 5em;
}

#stats #circle #mainTraits li input {
  font-size: 2em;
}

#stats #circle #destiny {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

#stats #circle #destiny li {
  list-style-type: none;
  cursor: pointer;
}

#stats #lifebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#lifebarbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  margin: 0;
}

#lifeline {
  position: absolute;
  width: 90%;
  height: 0.15em;
  top: 50%;
  bottom: 50%;
  left: calc(50% - (90% / 2));
  z-index: 0;
  background-color: black;
}

#lifebarlabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

#lifebarlabel p {
  font-size: 1.1em;
  font-weight: bold;
  order: 2;
  margin: 0;
}

#stats #sanitybar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#sanitybarbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  margin: 0;
}

#sanityline {
  position: absolute;
  width: 90%;
  height: 0.15em;
  top: 50%;
  bottom: 50%;
  left: calc(50% - (90% / 2));
  z-index: 0;
  background-color: black;
}

#sanitybarlabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

#sanitybarlabel p {
  font-size: 1.1em;
  font-weight: bold;
  order: 2;
  margin: 0;
}

.DMContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DMContainer:nth-child(1) {
  order: 1;
}

.DMContainer:nth-child(2) {
  order: 3;
}

.DMContainer input {
  font-size: 1.3em;
}

.lifePoint {
  transform: scale(0.5);
  z-index: 2;
  cursor: pointer;
}

.sanityPoint {
  transform: scale(0.5);
  z-index: 2;
  cursor: pointer;
}

#otherStats {
  display: flex;
  justify-content: space-around;
  place-items: center;
  width: 100%;
  margin-bottom: 2em;
}

#otherStats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skills {
  flex-direction: row;
  width: 90%;
}

#skills h3 {
  font-size: 1.6em;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}

#abilities {
  flex-direction: column;
  width: 20%;
}

#abilities input {
  height: auto;
}

#talents {
  margin-left: 2em;
  width: 100%;
}

#talentsHeader {
  display: flex;
  justify-content: start;
  place-items: center;
  flex-direction: row !important;
}

#talentsHeader h3 {
  width: fit-content;
}

#createTalent {
  width: 4em;
  height: 1.7em;
  margin-left: 1em;

  background-color: var(--background-color);
  border-radius: 0.8em;
  border: var(--text-color) 0.2em solid;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Neuton";
  font-size: 0.8em;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;

  cursor: pointer;

  transition: 150ms;
}

#createTalent:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.deleteBtn {
  width: 4em;
  height: 1.7em;
  margin-bottom: 1em;

  background-color: var(--background-color);
  border-radius: 0.8em;
  border: var(--text-color) 0.2em solid;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Neuton";
  font-size: 0.8em;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;

  cursor: pointer;

  transition: 150ms;
}

.deleteBtn:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

#talents div {
  display: flex;
  flex-direction: column;
}

#talents textarea {
  border: none;
  outline: none;
  resize: none;
  field-sizing: content;
}

#inventory {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#inventoryHeader {
  display: flex;
  justify-content: start;
  place-items: center;
  flex-direction: row !important;
}

#inventoryHeader h3 {
  width: fit-content;
  font-size: 1.6em;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}

#createItem {
  width: 4em;
  height: 1.7em;
  margin-left: 1em;

  background-color: var(--background-color);
  border-radius: 0.8em;
  border: var(--text-color) 0.2em solid;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Neuton";
  font-size: 0.8em;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;

  cursor: pointer;

  transition: 150ms;
}

#createItem:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

#inventory div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#campaign {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  margin-top: 3em;
  margin-bottom: 3em;
}

#campaign div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#campaign div input {
  text-align: center;
  font-size: 1.3em;
}

#saveSheet {
  width: 10em;
  height: 2em;

  background-color: var(--background-color);
  border-radius: 0.8em;
  border: var(--text-color) 0.25em solid;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Neuton";
  font-size: 1.3em;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;

  cursor: pointer;

  transition: 150ms;
}

#saveSheet:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

#sendToGM {
  width: 10em;
  height: 2em;

  background-color: var(--background-color);
  border-radius: 0.8em;
  border: var(--text-color) 0.25em solid;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Neuton";
  font-size: 1.3em;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;

  cursor: pointer;

  transition: 150ms;
}

#sendToGM:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

/* ============================================================================ */

footer {
  position: sticky;
  background-color: var(--background-color);
  width: 100%;
  bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

footer p {
  margin: 0;
}
